@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&family=Play:wght@700&family=Sacramento&display=swap');

html {
    background-color: #0A6CA3;
    justify-content: center;
    align-items: center;
    align-content: center;
}

body {

    font-family: 'Montserrat', sans-serif;
    background-color: #0C81C2;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 40vh;
    overflow-x: hidden;
}

header {
    background-color: #BDC022;
}

.headbanner {
    background-color: #BDC022;
    font-size: 12px;
    padding: 5px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font: bolder;
    text-shadow:
        -1px 0 #013D60,
        0 1px #013D60,
        1px 0 #013D60,
        0 -1px #013D60;
}

/*The Blond Woman */
.avatar1 {
position: absolute; 
left:0px; 
top:30px; 
}

/*The Hat Guy */
.avatar2 {
position: absolute; 
left:150px; 
top:30px;
}

/*The Glasses Guy */
.avatar3 {
position: absolute; 
left:35px; 
top:50px;
}

/*The Woman with Black Hair */
.avatar4 {
position: absolute; 
left:90px; 
top:30px;
}

/*The "Spanish" guy */
.avatar5 {
position: absolute; 
left: 60px; 
top:100px;
}

/*The Red Hair girl */
.avatar6 {
position: absolute; 
left:100px; 
top:100px;
}

.logo {
position: absolute; 
left:5px; 
top:350px;
}