@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&family=Play:wght@700&family=Sacramento&display=swap');

html {
    background-color: #0A6CA3;
    justify-content: center;
    align-items: center;
    align-content: center;
}

body {

    font-family: 'Montserrat', sans-serif;
    background-color: #0C81C2;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 35vh;
    overflow-x: hidden;
}

header {
    background-color: #BDC022;
}

.headbanner {
    background-color: #BDC022;
    font-size: 70%;
    text-align: center;
    padding: 5px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font: bolder;
    text-shadow:
        -1px 0 #013D60,
        0 1px #013D60,
        1px 0 #013D60,
        0 -1px #013D60;
}

/*The Blond Woman */
.avatar1 {
    position: absolute;
    max-width: 45%;
    top: 5%;
    left: -1%;
}

/*The Hat Guy */
.avatar2 {
    position: absolute;
    max-width: 45%;
    top: 5%;
    left: 52%;
}

/*The Glasses Guy */
.avatar3 {
    position: absolute;
    max-width: 45%;
    top: 10%;
    left: 8%;
}

/*The Woman with Black Hair */
.avatar4 {
    position: absolute;
    max-width: 45%;
    top: 6%;
    left: 32%;
}

/*The "Spanish" guy */
.avatar5 {
    position: absolute;
    max-width: 45%;
    top: 15%;
    left: 25%;
}

/*The Red Hair girl */
.avatar6 {
    position: absolute;
    max-width: 45%;
    top: 16%;
    left: 40%;
}

.logo {
    position: absolute;
    left: 4%;
    top: 57%;
    max-width: 95%;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 10px;
    margin-top: 125%;
    z-index: 1;
    padding: 5%;
}

.btn {
    background-color: #3EC6FF;
    border: 1px solid #013D60;
    width: 800px;
    max-width: 45vw;
    border-radius: 20px;
    z-index: 1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat', sans-serif;
    /* taken from https://stackoverflow.com/questions/43753646/stroke-or-border-color-on-a-btn or more recent tool: https://www.geeksforgeeks.org/css-font-border/*/
    text-shadow: -1px 0 #013D60,
        0 1px #013D60,
        1px 0 #013D60,
        0 -1px #013D60;
}

.btn:hover {
    border-color: black;
}